<template>
  <div>
    <h1>Inicio</h1>
    <br>

  </div>
</template>

<script>
export default {
    name: 'Inicio',
    data() {
        return {};
    },
    created() {},
    methods: {}
};
</script>

<style>
</style>
