<template>
   <div>
      {{label}}
      <hr />
      <a-input :placeholder="placeholder" @change="$emit('change', $event)">
         <a-icon slot="prefix" type="search" />
      </a-input>
   </div>
</template>

<script>
export default {
  props: ["placeholder", "label"]
};
</script>

<style>
</style>
