<template>
  <a-col :span="span">
    <a-form-item :label="label" :validate-status="mostrarError()" :help="mensajeError()">
      <slot></slot>
    </a-form-item>
  </a-col>
</template>

<script>
import validate from "./../modulos/validate.js";

export default {
  props: ["label", "field", "span"],
  data() {
    return {};
  },
  methods: {
    mostrarError: function() {
      return this.field ? validate.mostrarError(this.field) : "";
    },
    mensajeError: function() {
      return this.field ? validate.mensajeError(this.field, this.label) : "";
    }
  }
};
</script>

<style>
.row {
  margin-bottom: 16px;
}
</style>
