<template>
   <a-select
      showSearch
      allowClear
      :placeholder="placeholder"
      optionFilterProp="children"
      @change="handleChange"
      :filterOption="filterOption"
      :value="valor"
   >
      <a-select-option v-for="d in data" :key="d[clave ? clave : 'data']">{{d[texto?texto:'label']}}</a-select-option>
   </a-select>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change"
  },
  props: ["placeholder", "data", "value", "clave", "texto"],
  data() {
    return {
      valor: undefined
    };
  },
  created() {
    this.valor =
      this.value == "" || this.data.length == 0 ? undefined : this.value;
  },
  watch: {
    value: function(value) {
      this.valor = value == "" || this.data.length == 0 ? undefined : value;
    }
  },
  methods: {
    handleChange(value) {
      this.valor = value;
      this.$emit("change", this.valor);
    },
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text
          .toLowerCase()
          .indexOf(input.toLowerCase()) >= 0
      );
    }
  }
};
</script>

<style>
</style>
