<template>
   <app-layout-content titulo="Matricula">
      <a-row :gutter="24">
         <div class="table-operations">
            <router-link to="/matricula/crear">
               <a-button>
                  <a-icon type="plus" />Agregar matricula
               </a-button>
            </router-link>
         </div>

         <a-table
            :loading="cargando"
            :columns="columnas"
            :dataSource="dataListar"
            size="middle"
            bordered
            :locale="locale"
            :rowKey="record => record.id_matricula"
         >
            <template slot="customAcciones">
               Acciones
               <hr class="hr-vacio" />
            </template>

            <app-column-title
               slot="customNombres"
               placeholder="Buscar nombres"
               label="Nombres"
               @change="buscar($event, 'nombres')"
            ></app-column-title>

            <app-column-title
               slot="customApellidos"
               placeholder="Buscar apellidos"
               label="Apellidos"
               @change="buscar($event, 'apellidos')"
            ></app-column-title>

            <app-column-title
               slot="customIdentificacion"
               placeholder="Buscar identificación"
               label="Identificación"
               @change="buscar($event, 'identificacion')"
            ></app-column-title>

            <template slot="action" slot-scope="text, record">
               <a-button-group>
                  <a-button icon="edit" @click="editar(record.id_matricula)">Editar</a-button>
                  <a-dropdown :trigger="['click']">
                     <a-menu slot="overlay">
                        <a-menu-item key="1" @click="eliminar(record.id_matricula)">Eliminar</a-menu-item>
                        <!--  <a-menu-item key="2">Carga académica</a-menu-item> -->
                     </a-menu>
                     <a-button>
                        Más
                        <a-icon type="down" />
                     </a-button>
                  </a-dropdown>
               </a-button-group>
            </template>
         </a-table>
      </a-row>
   </app-layout-content>
</template>
<script>
import listMixin from "./../../mixins/list.mixin.js";

export default {
  mixins: [listMixin],
  data: function() {
    return {
      urlListar: "matricula/listar",
      urlEditar: "matricula/editar",
      urlEliminar: "matricula/eliminar",
      columnas: [
        { dataIndex: "nombres", slots: { title: "customNombres" } },
        { dataIndex: "apellidos", slots: { title: "customApellidos" } },
        {
          dataIndex: "identificacion",
          slots: { title: "customIdentificacion" },
          width: 120
        }
      ]
    };
  }
};
</script>

<style>
</style>