<template>
   <a-form layout="horizontal" :model="form" @submit.prevent="guardar">
      <app-layout-content titulo="Usuario">
         <div slot="columna-uno">
            <a-card title="Información">
               <a-form-item
                  label="Nombre completo"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  :validate-status="mostrarError('nombre_completo')"
                  :help="mensajeError('nombre_completo')"
               >
                  <a-input placeholder="Escriba el nombre completo" v-model="form.nombre_completo" />
               </a-form-item>

               <a-form-item
                  label="Usuario"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  :validate-status="mostrarError('usuario')"
                  :help="mensajeError('usuario')"
               >
                  <a-input placeholder="Escriba el usuario" v-model="form.usuario" />
               </a-form-item>

               <a-form-item
                  label="Contraseña"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  :validate-status="mostrarError('password')"
                  :help="mensajeError('password')"
               >
                  <a-input
                     type="password"
                     placeholder="Escriba la contraseña"
                     v-model="form.password"
                  />
               </a-form-item>

               <a-form-item
                  label="Confirmar contraseña"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  :validate-status="mostrarError('confirm_password')"
                  :help="mensajeError('confirm_password')"
               >
                  <a-input
                     type="password"
                     placeholder="Confirmar la contraseña"
                     v-model="form.confirm_password"
                  />
               </a-form-item>
            </a-card>
         </div>
         <div slot="columna-dos"></div>
         <div slot="acciones">
            <a-button type="primary" html-type="submit">Guardar</a-button>
         </div>
      </app-layout-content>
   </a-form>
</template>

<script>
import formMixin from "./../../mixins/form.mixin.js";
import { required } from "vuelidate/lib/validators";

export default {
  name: "UsuarioCrear",
  mixins: [formMixin],
  data() {
    return {
      urlGuardar: "usuario/guardarUsuario/0",
      form: {
        nombre_completo: "",
        usuario: "",
        password: "",
        confirm_password: ""
      }
    };
  },
  validations: {
    form: {
      nombre_completo: {
        //required
      },
      usuario: {
        //required
      },
      password: {
        //required
      },
      confirm_password: {
        //required
      }
    }
  },
  computed: {},
  created() {
    // console.log(this.cloneForm);
  },
  mounted() {},
  methods: {}
};
</script>

<style>
</style>
