<template>
    <div>
        <a-row :gutter="24">
            <a-button type="primary" style="margin-left: 12px;">
                <router-link to="/usuario/crear/0">Agregar usuario</router-link>
            </a-button>
            <a-divider />
        </a-row>

        <br />

        <a-row>
            <a-col :xs="24" :md="8">
                <a-input-search
                    placeholder="Nombre"
                    @search="obtenerListado"
                    enterButton="Buscar"
                />
            </a-col>
        </a-row>
        <a-row></a-row>

        <br />
        <a-table
            :columns="columns"
            :rowKey="record => record.id_usuario"
            :dataSource="data"
            :loading="cargando"
            :scroll="{ x: 1500 }"
        >
            <div slot="action" slot-scope="text, record">
                <router-link :to="'/usuario/crear/' + record.id_usuario">
                    Editar
                </router-link>
                <br />
                <a v-on:click="eliminar(record.id_usuario)">
                    Eliminar
                </a>
            </div>
        </a-table>
    </div>
</template>
<script>
const columns = [
    { title: 'Id', dataIndex: 'id_usuario', width: 10 },
    { title: 'Nombre', dataIndex: 'nombre_completo' },
    {
        title: 'Operations',
        fixed: 'right',
        width: 80,
        scopedSlots: { customRender: 'action' }
    }
];

import listMixin from './../../mixins/list.mixin.js';

export default {
    name: 'UsuarioListar',
    mixins: [listMixin],
    data: function() {
        return {
            columns,
            urlEliminar: 'usuario/eliminarUsuario',
            urlLista: 'usuario/listarUsuarios'
        };
    },
    mounted: function() {},
    methods: {}
};
</script>
