<template>
   <a-form layout="vertical" :model="form" @submit.prevent="guardar">
      <app-layout-content titulo="Asignatura">
         <div slot="columna-uno">
            <a-card title="Información del curso">
               <a-row :gutter="24">
                  <app-form-item label="Sede" :span="8" :field="$v.form.id_sede">
                     <app-select
                        v-model="form.id_sede"
                        placeholder="Seleccione..."
                        :data="sedes"
                        clave="id_sede"
                        texto="nombre_sede"
                     ></app-select>
                  </app-form-item>

                  <app-form-item label="Jornada" :span="8" :field="$v.form.id_jornada">
                     <app-select
                        v-model="form.id_jornada"
                        placeholder="Seleccione..."
                        :data="jornadas.filter(e => e.id_sede == form.id_sede)"
                        clave="id_jornada"
                        texto="nombre_jornada"
                     ></app-select>
                  </app-form-item>

                  <app-form-item label="Curso" :span="8" :field="$v.form.id_curso">
                     <app-select
                        v-model="form.id_curso"
                        placeholder="Seleccione..."
                        :data="cursos.filter(e => e.id_sede == form.id_sede)"
                        clave="id_curso"
                        texto="nombre_curso"
                        @change="cambioCurso()"
                     ></app-select>
                  </app-form-item>
               </a-row>
            </a-card>

            <a-card title="Asignatura">
               <a @click="agregar" slot="extra">Agregar</a>
               <a-row :gutter="24">
                  <a-col :span="11">
                     <b>Materia</b>
                  </a-col>
                  <a-col :span="11">
                     <b>Docente</b>
                  </a-col>
                  <a-col :span="2"></a-col>
               </a-row>
               <hr />
               <div v-for="(asignatura, index) in form.asignaturas" :key="index" class="fila">
                  <a-row :gutter="24">
                     <a-col :span="11">
                        <app-select
                           v-model="asignatura.id_materia"
                           placeholder="Seleccione..."
                           :data="materias"
                           clave="id_materia"
                           texto="nombre_materia"
                        ></app-select>
                     </a-col>
                     <a-col :span="11">
                        <app-select
                           v-model="form.asignaturas[index]['id_docente']"
                           placeholder="Seleccione..."
                           :data="docentes"
                           clave="id_docente"
                           texto="nombre_completo"
                        ></app-select>
                     </a-col>
                     <a-col :span="2">
                        <a-button
                           type="dashed"
                           icon="delete"
                           size="small"
                           @click="eliminar(index)"
                           style="margin-top: 5px;margin-left: -10px;"
                        />
                     </a-col>
                  </a-row>
               </div>
            </a-card>
         </div>

         <div slot="columna-dos"></div>

         <div slot="acciones">
            <a-button type="primary" html-type="submit" :loading="guardando">Guardar</a-button>
         </div>
      </app-layout-content>
   </a-form>
</template>

<script>
import formMixin from "./../../mixins/form.mixin.js";
import formData from "./asignatura-crear.form.js";

export default {
  mixins: [formMixin],
  data() {
    return {
      urlRecursos: "/asignatura/recursos",
      urlGuardar: "/asignatura/guardar",
      formData: formData,
      sedes: [],
      jornadas: [],
      cursos: [],
      asignaturas: [],
      materias: [],
      docentes: [],
      config: {
        rules: [
          { type: "object", required: true, message: "Seleccione una fecha" }
        ]
      }
    };
  },
  mounted() {},
  created() {},
  computed: {},
  methods: {
    recursosParams: function() {
      return this.esNuevo ? {} : { id: this.$route.params.id };
    },
    recursosPostExitoso: function(respuesta) {
      if (this.sedes.length == 1) {
        const idSede = this.sedes[0]["id_sede"];
        this.form.id_sede = idSede;
        const jornadas = this.jornadas.filter(e => e.id_sede == idSede);
        if (jornadas.length == 1) {
          this.form.id_jornada = jornadas[0]["id_jornada"];
        }
      }
    },
    guardarPreExitoso: function(respuesta) {
      for (const asignatura of this.form.asignaturas) {
        if (asignatura.id_asignatura == undefined) {
          this.asignaturas.push(asignaturas);
        }
      }
    },
    agregar: function() {
      this.form.asignaturas.push({ id_curso: this.form.id_curso });
    },
    eliminar: function(index) {
      this.form.asignaturas.splice(index, 1);
    },
    cambioCurso: function() {
      this.form.asignaturas = this.asignaturas.filter(
        e => e.id_curso == this.form.id_curso
      );
    }
  }
};
</script>

<style>
.fila {
  padding: 10px;
}
.fila:hover {
  background-color: #e1e1e1;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px solid #000000;
}
</style>
