<template>
   <div class="contenido">
      <a-row :gutter="24">
         <a-col :span="24">
            <h1>{{titulo}}</h1>
         </a-col>
         <a-divider />
      </a-row>
      <br />
      <a-row :gutter="24" class="row">
         <a-col :span="24">
            <slot></slot>
         </a-col>
      </a-row>

      <a-row :gutter="24" class="row">
         <a-col :span="16">
            <slot name="columna-uno"></slot>
         </a-col>
         <a-col :span="8">
            <slot name="columna-dos"></slot>
         </a-col>
      </a-row>

      <a-row :gutter="24">
         <a-divider type="horizontal" />
         <a-col :span="24" style="text-align: left;">
            <slot name="acciones"></slot>
         </a-col>
      </a-row>
   </div>
</template>

<script>
export default {
  props: ["titulo"],
  data() {
    return {};
  }
};
</script>

<style>
.row {
  margin-bottom: 16px;
}

.contenido {
  padding-left: 24px;
  padding-right: 24px;
}
</style>
