<template>
   <a-layout id="components-layout-demo-top-side-2">
      <a-layout-header class="header">
         <div class="logo" />
         <a-menu
            theme="dark"
            mode="horizontal"
            :defaultSelectedKeys="['2']"
            :style="{ lineHeight: '64px' }"
         >
            <a-menu-item key="1">Salir</a-menu-item>
         </a-menu>
      </a-layout-header>
      <a-layout>
         <a-layout-sider width="200" style="background: #fff" breakpoint="lg" collapsedWidth="0">
            <a-menu
               mode="inline"
               :defaultSelectedKeys="['0']"
               :defaultOpenKeys="[]"
               :style="{ height: '100%', borderRight: 0 }"
            >
               <template v-for="(menu, index) in menus">
                  <a-menu-item v-if="menu.hijos == undefined" :key="index">
                     <a-icon type="arrow-right" />
                     <span>{{ menu.label }}</span>
                     <router-link :to="menu.url">{{ menu.label }}</router-link>
                  </a-menu-item>

                  <a-sub-menu :key="index" v-else>
                     <span slot="title">
                        <a-icon type="user" />
                        {{ menu.label }}
                     </span>
                     <a-menu-item v-for="hijo in menu.hijos" :key="hijo.id">
                        <router-link :to="hijo.url">{{hijo.label}}</router-link>
                     </a-menu-item>
                  </a-sub-menu>
               </template>
            </a-menu>
         </a-layout-sider>
         <a-layout style="padding: 0 24px 24px">
            <a-breadcrumb style="margin: 16px 0"></a-breadcrumb>
            <a-layout-content
               :style="{
                        background: '#fff',
                        padding: '24px',
                        margin: 0,
                        minHeight: '280px'
                    }"
            >
               <router-view></router-view>
            </a-layout-content>
         </a-layout>
      </a-layout>
   </a-layout>
</template>
<script>
export default {
  data() {
    return {};
  },
  props: ["menus"]
};
</script>

<style>
#components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}
</style>
