<template>
    <app-layout :menus="menus"></app-layout>
</template>
<script>
export default {
    data() {
        return {
            menus: config.menus
        };
    }
};
</script>

<style>
</style>
