<template>
   <app-layout-content titulo="Materias">
      <a-row :gutter="24">
         <div class="table-operations">
            <router-link to="/materia/crear">
               <a-button>
                  <a-icon type="plus" />Agregar materia
               </a-button>
            </router-link>
         </div>

         <a-table
            :loading="cargando"
            :columns="columnas"
            :dataSource="dataListar"
            size="middle"
            bordered
            :locale="locale"
            :rowKey="record => record.id_materia"
         >
            <template slot="customAcciones">
               Acciones
               <hr class="hr-vacio" />
            </template>

            <app-column-title
               slot="customMateria"
               placeholder="Buscar materia"
               label="Materia"
               @change="buscar($event, 'materia')"
            ></app-column-title>

            <app-column-title
               slot="customArea"
               placeholder="Buscar area"
               label="Area"
               @change="buscar($event, 'nombre_area')"
            ></app-column-title>


            <template slot="action" slot-scope="text, record">
               <a-button-group>
                  <a-button icon="edit" @click="editar(record.id_materia)">Editar</a-button>
                  <a-dropdown :trigger="['click']">
                     <a-menu slot="overlay">
                        <a-menu-item key="1">Eliminar</a-menu-item>
                        <a-menu-item key="2">Carga académica</a-menu-item>
                     </a-menu>
                     <a-button>
                        Más
                        <a-icon type="down" />
                     </a-button>
                  </a-dropdown>
               </a-button-group>
            </template>
         </a-table>
      </a-row>
   </app-layout-content>
</template>
<script>
import listMixin from "./../../mixins/list.mixin.js";

export default {
  mixins: [listMixin],
  data: function() {
    return {
      urlListar: "materia/listar",
      urlEditar: "materia/editar",
      urlEliminar: "materia/eliminar",
      columnas: [
        { dataIndex: "nombre_materia", slots: { title: "customMateria" }, width: 250 },
        {
          dataIndex: "nombre_area",
          slots: { title: "customArea" }
        }
      ]
    };
  }
};
</script>

<style>
</style>