<template>
   <a-form layout="vertical" :model="form" @submit.prevent="guardar">
      <app-layout-content titulo="Materia">
         <div slot="columna-uno">
            <a-card title="Información básica">
               <a-row :gutter="24">
                  <app-form-item label="Nombre" :span="12" :field="$v.form.nombre_materia">
                     <a-input
                        v-model="form.nombre_materia"
                        placeholder="Escriba el nombre de la materia"
                     />
                  </app-form-item>

                  <app-form-item label="Area" :span="12" :field="$v.form.id_area">
                     <app-select
                        v-model="form.id_area"
                        placeholder="Seleccione..."
                        :data="areas"
                        clave="id_area"
                        texto="nombre_area"
                     ></app-select>
                  </app-form-item>
               </a-row>
            </a-card>
            <a-card title="Intensidad horaria semanal">
               <template v-for="grado in grados">
                  <app-form-item :label="grado['nombre_grado']" :span="8" :key="grado['id_grado']">
                     <a-input v-model="grado['ihs']" />
                  </app-form-item>
               </template>
            </a-card>
         </div>

         <div slot="acciones">
            <a-button type="primary" html-type="submit" :loading="guardando">Guardar</a-button>
         </div>
      </app-layout-content>
   </a-form>
</template>

<script>
import formMixin from "./../../mixins/form.mixin.js";
import formData from "./materia-crear.form.js";

export default {
  mixins: [formMixin],
  data() {
    return {
      urlRecursos: "/materia/recursos",
      urlGuardar: "/materia/guardar",
      formData: formData,
      areas: [],
      grados: []
    };
  },
  mounted() {},
  created() {},
  computed: {},
  methods: {
    recursosParams: function() {
      return this.esNuevo ? {} : { id: this.$route.params.id };
    },
    guardarParams: function() {
      const parametros = Object.assign({}, this.form);

      let ihs = [];
      for (const item of this.grados) {
        if (item["ihs"] != undefined) {
          ihs.push({
            id_grado: item["id_grado"],
            ihs: item["ihs"],
            id_materia_det: item["id_materia_det"] ? item["id_materia_det"] : ""
          });
        }
      }

      parametros["ihs"] = ihs;

      /* let ihs = this.grados.filter(item => item["ihs"] != undefined);

      parametros["ihs"] = ihs.map(item => {
        return {
          id_grado: item["id_grado"],
          ihs: item["ihs"],
          id_materia_det: item["id_materia_det"] ? item["id_materia_det"] : ""
        };
      }); */

      return parametros;
    },
    recursosPreExitoso: function(respuesta) {
      let form = respuesta["form"];
      if (form) {
        respuesta["grados"] = respuesta["grados"].map(item => {
          const ihs = form["ihs"].find(i => i["id_grado"] == item["id_grado"]);
          if (ihs) {
            item["ihs"] = ihs["ihs"];
            item["id_materia_det"] = ihs["id_materia_det"];
          }
          return item;
        });
      }
      return true;
    }
  }
};
</script>

<style>
.tablagen {
  display: table;
}
.fila {
  display: table-row;
}
.col {
  display: table-cell;
  padding: 12px;
  background: #ddd;
}
</style>
