<template>
   <a-form layout="vertical" :model="form" @submit.prevent="guardar">
      <app-layout-content titulo="Curso">
         <div slot="columna-uno">
            <a-card title="Información básica">
               <a-row :gutter="24">
                  <app-form-item label="Grupo" :span="12" :field="$v.form.grupo">
                     <a-input v-model="form.grupo" placeholder="Escriba el nombre del docente" />
                  </app-form-item>

                  <app-form-item label="Grado" :span="12" :field="$v.form.id_grado">
                     <app-select
                        v-model="form.id_grado"
                        placeholder="Seleccione..."
                        :data="grados"
                        clave="id_grado"
                        texto="nombre_grado"
                     ></app-select>
                  </app-form-item>
               </a-row>
               <a-row :gutter="24">
                  <app-form-item label="Sede" :span="12" :field="$v.form.id_sede">
                     <app-select
                        v-model="form.id_sede"
                        placeholder="Seleccione..."
                        :data="sedes"
                        clave="id_sede"
                        texto="nombre_sede"
                     ></app-select>
                  </app-form-item>

                  <app-form-item label="Jornada" :span="12" :field="$v.form.id_jornada">
                     <app-select
                        v-model="form.id_jornada"
                        placeholder="Seleccione..."
                        :data="jornadas"
                        clave="id_jornada"
                        texto="nombre_jornada"
                     ></app-select>
                  </app-form-item>
               </a-row>

               <a-row :gutter="24">
                  <app-form-item label="Docente" :span="12" :field="$v.form.id_docente">
                     <app-select
                        v-model="form.id_docente"
                        placeholder="Seleccione..."
                        :data="docentes"
                        clave="id_docente"
                        texto="nombre_completo"
                     ></app-select>
                  </app-form-item>
               </a-row>
            </a-card>
         </div>

         <div slot="acciones">
            <a-button type="primary" html-type="submit" :loading="guardando">Guardar</a-button>
         </div>
      </app-layout-content>
   </a-form>
</template>

<script>
import formMixin from "./../../mixins/form.mixin.js";
import formData from "./curso-crear.form.js";

export default {
  mixins: [formMixin],
  data() {
    return {
      urlRecursos: "/curso/recursos",
      urlGuardar: "/curso/guardar",
      formData: formData,
      grados: [],
      sedes: [],
      jornadas: [],
      docentes: [],
      config: {
        rules: [
          { type: "object", required: true, message: "Seleccione una fecha" }
        ]
      }
    };
  },
  mounted() {},
  created() {},
  computed: {},
  methods: {
    recursosParams: function() {
      return this.esNuevo ? {} : { id: this.$route.params.id };
    }
  }
};
</script>

<style>
</style>
