<template>
   <app-layout-content titulo="Cursos">
      <a-row :gutter="24">
         <div class="table-operations">
            <router-link to="/curso/crear">
               <a-button>
                  <a-icon type="plus" />Agregar curso
               </a-button>
            </router-link>
         </div>

         <a-table
            :loading="cargando"
            :columns="columnas"
            :dataSource="dataListar"
            size="middle"
            bordered
            :locale="locale"
            :rowKey="record => record.id_curso"
         >
            <template slot="customAcciones">
               Acciones
               <hr class="hr-vacio" />
            </template>

            <app-column-title
               slot="customCurso"
               placeholder="Buscar curso"
               label="Curso"
               @change="buscar($event, 'curso')"
            ></app-column-title>

            <app-column-title
               slot="customJornada"
               placeholder="Buscar jornada"
               label="Jornada"
               @change="buscar($event, 'nombre_jornada')"
            ></app-column-title>

            <app-column-title
               slot="customSede"
               placeholder="Buscar sede"
               label="Sede"
               @change="buscar($event, 'nombre_sede')"
            ></app-column-title>

            <app-column-title
               slot="customDocente"
               placeholder="Buscar docente"
               label="Docente de grupo"
               @change="buscar($event, 'docente')"
            ></app-column-title>

            <template slot="action" slot-scope="text, record">
               <a-button-group>
                  <a-button icon="edit" @click="editar(record.id_curso)">Editar</a-button>
                  <a-dropdown :trigger="['click']">
                     <a-menu slot="overlay">
                        <a-menu-item key="1">Eliminar</a-menu-item>
                        <a-menu-item key="2">Carga académica</a-menu-item>
                     </a-menu>
                     <a-button>
                        Más
                        <a-icon type="down" />
                     </a-button>
                  </a-dropdown>
               </a-button-group>
            </template>
         </a-table>
      </a-row>
   </app-layout-content>
</template>
<script>
import listMixin from "./../../mixins/list.mixin.js";

export default {
  mixins: [listMixin],
  data: function() {
    return {
      urlListar: "curso/listar",
      urlEditar: "curso/editar",
      urlEliminar: "curso/eliminar",
      columnas: [
        { dataIndex: "curso", slots: { title: "customCurso" }, width: 150 },
        {
          dataIndex: "nombre_jornada",
          slots: { title: "customJornada" },
          width: 100
        },
        { dataIndex: "nombre_sede", slots: { title: "customSede" } },
        { dataIndex: "docente", slots: { title: "customDocente" } }
      ]
    };
  }
};
</script>

<style>
</style>