<template>
   <app-layout-content titulo="Colegio">
      <a-row :gutter="24">
         <a-button type="primary" style="margin-left: 12px;">
            <router-link to="/colegio/crear">Agregar colegio</router-link>
         </a-button>
         <a-divider />
      </a-row>

      <a-row :gutter="24">
         <a-table
            :columns="columnas"
            :dataSource="data"
            size="middle"
            :rowKey="record => record.id_colegio"
         >
            <div slot="action" slot-scope="text, record" href="javascript:;" class="expand">
               <a-button
                  type="dashed"
                  icon="edit"
                  size="small"
                  @click="editar(record.id_colegio)"
               >Editar</a-button>
            </div>
         </a-table>
      </a-row>
   </app-layout-content>
</template>
<script>
import listMixin from "./../../mixins/list.mixin.js";

export default {
  mixins: [listMixin],
  data: function() {
    return {
      urlListar: "colegio/listar",
      urlEditar: "colegio/editar",
      urlEliminar: "colegio/eliminar",
      columnas: [
        {
          title: "Nombre",
          dataIndex: "nombre_colegio",
          width: 180
        },
        { title: "DANE", dataIndex: "dane" }
      ]
    };
  },
  mounted: function() {},
  created: function() {},
  methods: {}
};
</script>


<style>
.expand {
  text-align: right;
}
</style>

