<template>
  <a-form layout="vertical" :model="form" @submit.prevent="guardar">
    <app-layout-content titulo="Colegio">
      <div slot="columna-uno">
        <a-card title="Información básica">
          <a-row :gutter="24">
            <app-form-item label="Nombre" :span="16" :field="$v.form.nombre_colegio">
              <a-input v-model="form.nombre_colegio" placeholder="Escriba el nombre del colegio" />
            </app-form-item>

            <app-form-item label="Alias" :span="8" :field="$v.form.alias">
              <a-input v-model="form.alias" placeholder="Escriba el alias" />
            </app-form-item>
          </a-row>
          <a-row :gutter="24">
            <app-form-item label="Departamento" :span="12" :field="$v.form.departamento">
              <app-select
                v-model="form.departamento"
                placeholder="Seleccione..."
                :data="departamentos"
                clave="codigo_departamento"
                texto="departamento"
                v-on:change="getMunicipios()"
              ></app-select>
            </app-form-item>

            <app-form-item label="Municipio" :span="12" :field="$v.form.municipio">
              <app-select
                v-model="form.municipio"
                placeholder="Seleccione..."
                :data="municipiosFiltrados"
                clave="codigo_municipio"
                texto="municipio"
              ></app-select>
            </app-form-item>
          </a-row>
        </a-card>

        <a-card title="Información legal">
          <app-form-item label="DANE" :span="12" :field="$v.form.dane">
            <a-input v-model="form.dane" placeholder="Escriba el DANE" />
          </app-form-item>

          <app-form-item label="Resolución" :span="24" :field="$v.form.resolucion">
            <a-input v-model="form.resolucion" placeholder="Escriba la resolución de aprobación" />
          </app-form-item>
        </a-card>

        <sede :sedes="form.sedes"></sede>
      </div>

      <div slot="columna-dos">
        <a-card title="Información del rector">
          <a-row :gutter="24">
            <app-form-item label="Nombre" :span="24" :field="$v.form.nombre_rector">
              <a-input v-model="form.nombre_rector" placeholder="Escriba el nombre" />
            </app-form-item>

            <app-form-item label="Identificación" :span="24" :field="$v.form.identificacion_rector">
              <a-input
                v-model="form.identificacion_rector"
                placeholder="Escriba la identificación"
              />
            </app-form-item>
          </a-row>
        </a-card>

        <a-card title="Información del secretario(a)">
          <a-row :gutter="24">
            <app-form-item label="Nombre" :span="24" :field="$v.form.nombre_secretario">
              <a-input v-model="form.nombre_secretario" placeholder="Escriba el nombre" />
            </app-form-item>

            <app-form-item
              label="Identificación"
              :span="24"
              :field="$v.form.identificacion_secretario"
            >
              <a-input
                v-model="form.identificacion_secretario"
                placeholder="Escriba la identificación"
              />
            </app-form-item>
          </a-row>
        </a-card>
      </div>
      <div slot="acciones">
        <a-button type="primary" html-type="submit" :loading="guardando">Guardar</a-button>
      </div>
    </app-layout-content>
  </a-form>
</template>

<script>
import formMixin from "./../../mixins/form.mixin.js";
import formData from "./colegio-crear.form.js";
import sede from "./sede.vue";

export default {
  mixins: [formMixin],
  components: { sede: sede },
  data() {
    return {
      urlRecursos: "/colegio/recursos",
      urlGuardar: "/colegio/guardar",
      formData: formData,
      departamentos: [],
      municipiosFiltrados: []
    };
  },
  computed: {},
  created() {},
  mounted() {},
  methods: {
    getMunicipios: function() {
      let dpto = this.departamentos.find(item => {
        return item.codigo_departamento == this.form.departamento;
      });

      this.municipiosFiltrados = dpto ? dpto.municipios : [];
    },
    recursosParams: function() {
      return this.esNuevo ? {} : { id: this.$route.params.id };
    },
    guardarPostExitoso: function(response) {
      if (this.esNuevo == false) {
        this.form = response.data.form;
      }
      return true;
    }
  }
};
</script>

<style>
</style>
