<template>
   <a-card title="Sedes">
      <a slot="extra" @click="showModal()">
         <a-icon type="plus" />Agregar
      </a>

      <a-table
         :dataSource="sedes"
         :columns="columnas"
         :pagination="false"
         :rowKey="record => record.nombre_sede"
         :locale="{emptyText:'No hay sedes'}"
      >
         <template slot="action" slot-scope="text, record, index">
            <div class="action">
               <a-button type="dashed" size="small" @click="showModal(index)">
                  <a-icon type="edit" />
               </a-button>
               <a-popconfirm
                  title="¿Desea eliminar la sede?"
                  @confirm="confirm(index)"
                  okText="Eliminar"
                  cancelText="Cancelar"
               >
                  <a-button type="dashed" size="small">
                     <a-icon type="delete" />
                  </a-button>
               </a-popconfirm>
            </div>
         </template>
      </a-table>
      <a-modal
         title="Información de la sede"
         v-model="visible"
         @ok="hideModal"
         okText="Agregar"
         cancelText="Cancelar"
         style="top: 20px;"
         :maskClosable="false"
      >
         <a-form layout="vertical">
            <a-row :gutter="24">
               <app-form-item label="Nombre" :span="12" :field="$v.form.nombre_sede">
                  <a-input v-model="form.nombre_sede" placeholder="Escriba el nombre de la sede" />
               </app-form-item>

               <app-form-item label="Dirección" :span="12" :field="$v.form.direccion">
                  <a-input v-model="form.direccion" placeholder="Escriba la dirección" />
               </app-form-item>

               <app-form-item label="Celular" :span="12" :field="$v.form.celular">
                  <a-input v-model="form.celular" placeholder="Escriba el celular" />
               </app-form-item>

               <app-form-item label="Correo" :span="12" :field="$v.form.correo">
                  <a-input v-model="form.correo" placeholder="Escriba el correo" />
               </app-form-item>

               <app-form-item label="Estado" :span="12" :field="$v.form.estado">
                  <a-switch
                     v-model="form.estado"
                     checkedChildren="Activo"
                     unCheckedChildren="Inactivo"
                  />
               </app-form-item>
            </a-row>
         </a-form>
      </a-modal>
   </a-card>
</template>

<script>
import formBasicMixin from "./../../mixins/form-basic.mixin.js";
import formData from "./sede.form.js";

export default {
  mixins: [formBasicMixin],
  model: {
    prop: "sedes",
    event: "change"
  },
  props: ["sedes"],
  data() {
    return {
      visible: false,
      index: undefined,
      columnas: [
        { title: "Nombre", dataIndex: "nombre_sede" },
        {
          title: "",
          dataIndex: "action",
          width: "120px",
          scopedSlots: {
            customRender: "action"
          }
        }
      ],
      formData: formData
    };
  },
  created() {},
  methods: {
    confirm(index) {
      this.$delete(this.sedes, index);
    },
    showModal(index) {
      this.index = index;
      this.$v.$reset();
      this.visible = true;
      if (index == undefined) {
        this.form = this.cloneFormDefault();
      } else {
        this.esNuevo = false;
        this.form = Object.assign({}, this.sedes[index]);
        //this.form.estado = this.form.estado == "activo" ? true : false;
      }
    },
    hideModal() {
      if (this.validar() == false) {
        return;
      }

      let existe = this.sedes.some((item, i) => {
        return this.index != i && item.nombre_sede === this.form.nombre_sede;
      });

      if (existe) {
        this.$message.error("Ya existe una sede con este nombre.");
      } else {
        if (this.index == undefined) {
          this.sedes.push(this.form);
        } else {
          this.sedes[this.index] = this.form;
        }
        this.$emit("change", this.sedes);
        this.visible = false;
      }
    }
  }
};
</script>

<style>
.action > button {
  margin-left: 10px;
}
</style>
