<template>
   <a-form layout="vertical" :model="form" @submit.prevent="guardar">
      <app-layout-content titulo="Grado">
         <div slot="columna-uno">
            <a-card title="Información del grado">
               <a-row :gutter="24">
                  <app-form-item label="Nombre del grado" :span="12" :field="$v.form.nombre">
                     <a-input v-model="form.nombre" placeholder="Escriba el nombre del grado" />
                  </app-form-item>

                  <app-form-item label="Nivel del Grado" :span="12" :field="$v.form.nivel">
                     <a-input
                        v-model="form.nivel"
                        placeholder="Escriba El nivel del grado"
                     />
                  </app-form-item>
               </a-row>
            </a-card>
         </div>

         <div slot="acciones">
            <a-button type="primary" html-type="submit" :loading="guardando">Guardar</a-button>
         </div>
      </app-layout-content>
   </a-form>
</template>

<script>
import formMixin from "./../../mixins/form.mixin.js";
import formData from "./grado-crear.form.js";

export default {
  mixins: [formMixin],
  data() {
    return {
      urlRecursos: "/grado/recursos",
      urlGuardar: "/grado/guardar",
      formData: formData,
      config: {
        rules: [
          { type: "object", required: true, message: "Seleccione una fecha" }
        ]
      }
    };
  },
  mounted() {},
  created() {},
  computed: {},
  methods: {}
};
</script>

<style>
</style>
