<template>
   <app-layout-content titulo="Logros">
      <a-row :gutter="24">
         <div class="table-operations">
            <router-link to="/logro/crear">
               <a-button>
                  <a-icon type="plus" />Agregar logro
               </a-button>
            </router-link>
            <a-select
               placeholder="Seleccione un grado"
               allowClear
               showSearch
               style="margin-left: auto;width: 165px"
            >
               <a-select-option value="jack">Jack</a-select-option>
               <a-select-option value="lucy">Lucy</a-select-option>
               <a-select-option value="Yiminghe">yiminghe</a-select-option>
            </a-select>
            <a-button icon="search" type="primary">Buscar</a-button>
         </div>

         <a-table
            :loading="cargando"
            :columns="columnas"
            :dataSource="dataListar"
            size="middle"
            bordered
            :rowKey="record => record.id_logro"
         >
            <template slot="customAcciones">
               Acciones
               <hr class="hr-vacio" />
            </template>

            <app-column-title
               slot="customLogro"
               placeholder="Buscar logro"
               label="Logro"
               @change="buscar($event, 'logro')"
            ></app-column-title>

            <app-column-title
               slot="customMateria"
               placeholder="Buscar materia"
               label="Materia"
               @change="buscar($event, 'materia')"
            ></app-column-title>

            <app-column-title
               slot="customGrado"
               placeholder="Buscar grado"
               label="Grado"
               @change="buscar($event, 'grado')"
            ></app-column-title>

            <template slot="action" slot-scope="text, record">
               <a-button-group>
                  <a-button icon="edit" @click="editar(record.id_logro)">Editar</a-button>
                  <a-dropdown :trigger="['click']">
                     <a-menu slot="overlay">
                        <a-menu-item key="1">Eliminar</a-menu-item>
                        <a-menu-item key="2">Carga académica</a-menu-item>
                     </a-menu>
                     <a-button>
                        Más
                        <a-icon type="down" />
                     </a-button>
                  </a-dropdown>
               </a-button-group>
            </template>
         </a-table>
      </a-row>
   </app-layout-content>
</template>
<script>
import listMixin from "./../../mixins/list.mixin.js";

export default {
  mixins: [listMixin],
  data: function() {
    return {
      urlListar: "logro/listar",
      urlEditar: "logro/editar",
      urlEliminar: "logro/eliminar",
      columnas: [
        { dataIndex: "logro", slots: { title: "customLogro" } },
        { dataIndex: "materia", slots: { title: "customMateria" }, width: 250 },
        { dataIndex: "grado", slots: { title: "customGrado" }, width: 150 }
      ]
    };
  }
};
</script>

<style>
</style>