<template>
   <a-form layout="horizontal" :model="form" @submit.prevent="guardar">
      <app-layout-content titulo="Comuna">
         <div slot="columna-uno">
            <a-card title="Información">
               <a-form-item
                  label="Nombre"
                  :label-col="labelCol"
                  :wrapper-col="wrapperCol"
                  :validate-status="mostrarError('nombre')"
                  :help="mensajeError('nombre')"
               >
                  <a-input placeholder="Escriba el nombre" v-model="form.nombre" />
               </a-form-item>
            </a-card>
         </div>
         <div slot="columna-dos"></div>
         <div slot="acciones">
            <a-button type="primary" html-type="submit">Guardar</a-button>
         </div>
      </app-layout-content>
   </a-form>
</template>

<script>
import formMixin from "./../../mixins/form.mixin.js";
import { required } from "vuelidate/lib/validators";

export default {
  name: "ComunaCrear",
  mixins: [formMixin],
  data() {
    return {
      urlGuardar: "comuna/guardarComuna/0",
      urlRecursos: "comuna/obtenerRecursos",
      formData: {
        nombre: {
          value: "",
          validation: {
            required
          }
        }
      }
    };
  },
  computed: {},
  created() {
    // console.log(this.cloneForm);
  },
  mounted() {},
  methods: {}
};
</script>

<style>
</style>
