.ant-card {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 24px;
}

.ant-card-bordered {
    border: 0px;
}

/*
.ant-divider {

    background: #cccccc;
}

.ant-card-head {
    border-bottom: 1px solid #cccccc;
}*/

.row {
    margin-bottom: 16px;
}

.table-operations {
    display: flex;
    margin-bottom: 12px;
  }
  
  .table-operations > * {
    margin-right: 16px;
  }

  .hr-vacio{
    margin-bottom: 38px;
  }