<template>
   <a-form layout="vertical" :model="form" @submit.prevent="guardar">
      <app-layout-content titulo="Docente">
         <div slot="columna-uno">
            <a-card title="Información básica">
               <a-row :gutter="24">
                  <app-form-item label="Nombres" :span="12" :field="$v.form.nombres">
                     <a-input v-model="form.nombres" placeholder="Escriba el nombre del docente" />
                  </app-form-item>

                  <app-form-item label="Apellidos" :span="12" :field="$v.form.apellidos">
                     <a-input
                        v-model="form.apellidos"
                        placeholder="Escriba los apellidos del docente"
                     />
                  </app-form-item>
               </a-row>

               <a-row :gutter="24">
                  <app-form-item
                     label="Tipo identificación"
                     :span="12"
                     :field="$v.form.tipo_identificacion"
                  >
                     <app-select
                        v-model="form.tipo_identificacion"
                        placeholder="Seleccione..."
                        :data="tipoIdentificacion"
                     ></app-select>
                  </app-form-item>

                  <app-form-item label="Identificación" :span="12" :field="$v.form.identificacion">
                     <a-input
                        v-model="form.identificacion"
                        placeholder="Escriba la identificación"
                     />
                  </app-form-item>
               </a-row>

               <a-row :gutter="24">
                  <app-form-item
                     label="Fecha Nacimiento"
                     :span="8"
                     :field="$v.form.fecha_nacimiento"
                  >
                     <a-date-picker
                        v-decorator="['date-picker', config]"
                        v-model="form.fecha_nacimiento"
                     />
                  </app-form-item>
                  <app-form-item label="Sexo" :span="8" :field="$v.form.sexo">
                     <app-select v-model="form.sexo" placeholder="Seleccione..." :data="sexos"></app-select>
                  </app-form-item>
                  <app-form-item label="Tipo sangre" :span="8" :field="$v.form.tipo_sangre">
                     <app-select
                        v-model="form.tipo_sangre"
                        placeholder="Seleccione..."
                        :data="tiposSangre"
                     ></app-select>
                  </app-form-item>
               </a-row>

               <a-row :gutter="24">
                  <app-form-item label="Dirección" :span="24" :field="$v.form.direccion">
                     <a-input v-model="form.direccion" placeholder="Escriba la dirección" />
                  </app-form-item>
               </a-row>

               <a-row :gutter="24">
                  <app-form-item label="Celular" :span="12" :field="$v.form.celular">
                     <a-input v-model="form.celular" placeholder="Escriba el celular" />
                  </app-form-item>

                  <app-form-item label="Correo" :span="12" :field="$v.form.correo">
                     <a-input v-model="form.correo" placeholder="Escriba el correo" />
                  </app-form-item>
               </a-row>
            </a-card>
         </div>

         <div slot="columna-dos">
            <a-card title="Información académica">
               <a-row :gutter="24">
                  <app-form-item label="Titulo" :span="24" :field="$v.form.titulo">
                     <a-input
                        v-model="form.titulo"
                        placeholder="Escriba el titulo de su profesión"
                     />
                  </app-form-item>

                  <app-form-item
                     label="Areas de enseñanza"
                     :span="24"
                     :field="$v.form.area_ensenanza"
                  >
                     <a-input
                        v-model="form.area_ensenanza"
                        placeholder="Escriba las areas de enseñanza"
                     />
                  </app-form-item>
               </a-row>
            </a-card>

            <a-card title="Información usuario">
               <a-row :gutter="24">
                  <app-form-item label="Estado" :span="24" :field="$v.form.estado">
                     <a-switch
                        checkedChildren="Activo"
                        unCheckedChildren="Inactivo"
                        v-model="form.estado"
                     />
                  </app-form-item>
               </a-row>
            </a-card>
         </div>

         <div slot="acciones">
            <a-button type="primary" html-type="submit" :loading="guardando">Guardar</a-button>
         </div>
      </app-layout-content>
   </a-form>
</template>

<script>
import formMixin from "./../../mixins/form.mixin.js";
import formData from "./docente-crear.form.js";
import moment from "moment";
export default {
  mixins: [formMixin],
  data() {
    return {
      urlRecursos: "/docente/recursos",
      urlGuardar: "/docente/guardar",
      formData: formData,
      tipoIdentificacion: [{ data: "CC", label: "Cedula de ciudadania" }],
      sexos: [
        { data: "Masculino", label: "Masculino" },
        { data: "Femenino", label: "Femenino" }
      ],
      tiposSangre: [{ data: "A+", label: "A+" }, { data: "O", label: "O" }],
      config: {
        rules: [
          { type: "object", required: true, message: "Seleccione una fecha" }
        ]
      }
    };
  },
  mounted() {},
  created() {},
  computed: {},
  methods: {
    guardarParams: function() {
      let params = Object.assign({}, this.form);
      params["estado"] = params["estado"] ? "activo" : "inactivo";
      params["fecha_nacimiento"] = params["fecha_nacimiento"]
        ? params["fecha_nacimiento"]
        : "";
      return params;
    },
    recursosPostExitoso: function(respuesta) {
      this.form.estado = this.form.estado == "activo" ? true : false;

      const fechaNacimiento = this.form.fecha_nacimiento;
      if (fechaNacimiento == null || fechaNacimiento == "") {
        this.form.fecha_nacimiento = undefined;
      } else if (fechaNacimiento != undefined) {
        this.form.fecha_nacimiento = moment(fechaNacimiento, "YYYY-MM-DD");
      }
    }
  }
};
</script>

<style>
</style>
